*,
*:before,
*:after {
  box-sizing: border-box;
}

label {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 8px;
  align-items: center;
  line-height: 20px;
}

label + label {
  margin-top: 10px;
}

input[type="radio"] {
  appearance: none;
  margin: 0;
  color: rgb(0, 166, 255);
  width: 20px;
  height: 20px;
  border: 2px solid rgb(0, 166, 255);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* box-shadow: inset 10px 10px rgb(0, 166, 255); // how come this works as a background? */
  background: rgb(0, 166, 255);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}